@model Tienda.Models.Producto

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">
        Producto - @Model.Nombre
    </h4>
</div>

@using (Html.BeginForm("Edit",
                "Producto", FormMethod.Post, 
                new { @enctype = "multipart/form-data", @id = "myFomr" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Producto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.categoriaid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList(
          "categoriaid", //NOMBRE DE LA VARIABLE
          new SelectList(

         (IEnumerable<Tienda.Models.Categoria>)ViewData["categorias"],
         "Id", "Nombre"

                  ),
          "---selecione una categoria---",
          new { @Class = "form-control" }
       )

                    @Html.ValidationMessageFor(model => model.categoriaid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.marcaid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList(
          "marcaid", (SelectList)ViewBag.Marcas,
          "---selecione una marca---",
          new { @Class = "form-control" })

                    @Html.ValidationMessageFor(model => model.categoriaid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                @if (Model.Imagen != null)
{
                    <img id="image" src="/Producto/RegresarImagen/@Model.Id" class="img-responsive" alt="Imagen encontrada" style="width:100px; border-color:black; padding:5px" />
                }
                else
                {
                    <img id="image" src="/Producto/RegresarImagen/0" class="img-responsive" alt="Imagen no encontrada" style="width:100px; border-color:black; padding:5px" />
                }
                <div class="col-md-10">
                    <input type="file" name="ImageData" required onchange="readURL(event)" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>

}


