@model IEnumerable<Tienda.Models.Marca>
@using Tienda.Helpers
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Marca", htmlAttributes: new { data_modal = "" })
</p>

@Html.alerta_roja("Ups.. ha ocurrido un error")

<table id="lista_general" class="table table-responsive table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="width:300px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td >
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { data_modal = "" }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/script-custom-validator.js"></script>
    <script src="~/Scripts/ModalForm.js"></script>
    <script>
        function crear_tabla(data) {
            $("#lista_general > tbody").empty();
            $.each(data, function () {
                var tr = $("<tr>");
                tr.append('<td>' + this.Nombre + '</td>')

                var td_accioes = $('<td>');
                td_accioes.append('<a data-modal="" href="@Url.Action("Edit", "Marca")/' + this.Id + '">Edit</a> |');
                td_accioes.append('<a href="@Url.Action("Details", "Marca")/' + this.Id + '">Details</a> |');
                td_accioes.append('<a href="@Url.Action("Delete", "Marca")/' + this.Id + '">Delete</a>');

                tr.append(td_accioes);
                $("#lista_general > tbody").append(tr);
            });
        }
    </script>
}